version: '3.8'
services:
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8050:8050
    networks:
      - blockscout
  smart-contract-verifier:
    container_name: 'smart-contract-verifier'
    image: ${docker_image}
    restart: always
    networks:
      - blockscout
    environment:
      SMART_CONTRACT_VERIFIER__SERVER__HTTP__ENABLED: "true"
      SMART_CONTRACT_VERIFIER__SERVER__HTTP__ADDR: "0.0.0.0:8050"
      SMART_CONTRACT_VERIFIER__SERVER__HTTP__MAX_BODY_SIZE: "2097152"
      SMART_CONTRACT_VERIFIER__SERVER__GRPC__ENABLED: "false"
      SMART_CONTRACT_VERIFIER__SERVER__GRPC__ADDR: "0.0.0.0:8051"
      SMART_CONTRACT_VERIFIER__SOLIDITY__ENABLED: "true"
      SMART_CONTRACT_VERIFIER__SOLIDITY__COMPILERS_DIR: "/tmp/solidity-compilers"
      SMART_CONTRACT_VERIFIER__SOLIDITY__REFRESH_VERSIONS_SCHEDULE: '${solidity_refresh_versions_schedule}'
      SMART_CONTRACT_VERIFIER__SOLIDITY__FETCHER__LIST__LIST_URL: '${solidity_fetcher_list_url}'
      SMART_CONTRACT_VERIFIER__VYPER__ENABLED: "true"
      SMART_CONTRACT_VERIFIER__VYPER__COMPILERS_DIR: "/tmp/vyper-compilers"
      SMART_CONTRACT_VERIFIER__VYPER__REFRESH_VERSIONS_SCHEDULE: "0 0 * * * * *"
      SMART_CONTRACT_VERIFIER__VYPER__FETCHER__LIST__LIST_URL: '${vyper_fetcher_list_url}'
      SMART_CONTRACT_VERIFIER__SOURCIFY__ENABLED: "true"
      SMART_CONTRACT_VERIFIER__SOURCIFY__API_URL: '${sourcify_api_url}'
      SMART_CONTRACT_VERIFIER__SOURCIFY__VERIFICATION_ATTEMPTS: "3"
      SMART_CONTRACT_VERIFIER__SOURCIFY__REQUEST_TIMEOUT: "10"
      SMART_CONTRACT_VERIFIER__METRICS__ENABLED: "false"
      SMART_CONTRACT_VERIFIER__JAEGER__ENABLED: "false"
    volumes:
      - ./logs/:/app/logs/
networks:
  blockscout: